/* Min Width 1200px and Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Min Width 992px and Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content h1 {
    font-size: 48px;
  }

  .title {
    font-size: 42px;
    line-height: 50px;
  }

  .about-wrapper::after {
    left: -200px;
    width: 400px;
    height: 400px;
  }
}

/* Min Width 768px and Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .title,
  .get-in-touch-content h2 {
    font-size: 36px;
    line-height: 42px;
  }

  .about-wrapper {
    padding-top: 150px;
  }

  .about-wrapper::after {
    left: -200px;
    width: 400px;
    height: 400px;
  }
}

/* Min Width 300px and Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .hero-wrapper {
    padding-top: 20px;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-img {
    padding-top: 60px;
  }

  .title,
  .get-in-touch-content h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .about-wrapper,
  .portfolio-wrapper,
  .pricing-wrapper,
  .testimonial-wrapper,
  .blog-wrapper,
  .get-in-touch-wrapper,
  .footer-wrapper {
    padding-top: 100px;
  }

  .about-wrapper::after {
    left: -200px;
    width: 400px;
    height: 400px;
  }

  .pricing-wrapper::after {
    top: 350px;
    right: -100px;
    width: 300px;
    height: 300px;
  }

  .pricing-plan {
    padding: 40px 20px 130px;
  }

  .pricing-plan-name h4 {
    font-size: 20px;
  }

  .pricing-content h1 {
    font-size: 42px;
  }

  .popular-tag {
    top: 20px;
    right: 20px;
  }

  .popular-tag span {
    padding: 10px 24px;
  }

  .get-in-touch-container {
    padding: 50px 0;
  }

  .get-in-touch-content {
    max-width: 90%;
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .git-btn {
    padding-top: 20px;
    text-align: center;
  }
}
